/* line 9, ../sass/main.scss */
spinner {
  display: none;
}

/* line 14, ../sass/main.scss */
.dot-spinner {
  width: 60px;
  height: 60px;
  position: fixed;
  margin: auto;
  top: -moz-calc(50% - 30px);
  top: -webkit-calc(50% - 30px);
  top: calc(50% - 30px);
  right: -moz-calc(50% - 30px);
  right: -webkit-calc(50% - 30px);
  right: calc(50% - 30px);
  text-align: center;
  z-index: 1060;
  -webkit-animation: sk-rotate 1s infinite linear;
  animation: sk-rotate 1s infinite linear;
}

/* line 30, ../sass/main.scss */
.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #00C7FF;
  border: 2px solid #000;
  border-radius: 100%;
  -webkit-animation: sk-bounce 1s infinite ease-in-out;
  animation: sk-bounce 1s infinite ease-in-out;
}

/* line 45, ../sass/main.scss */
.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

@-webkit-keyframes sk-rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes sk-rotate {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}
@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
/* line 70, ../sass/main.scss */
.sk-folding-cube {
  margin: auto;
  width: 60px;
  height: 60px;
  z-index: 1060;
  position: fixed;
  margin: auto;
  top: -moz-calc(50% - 20px);
  top: -webkit-calc(50% - 20px);
  top: calc(50% - 20px);
  left: -moz-calc(50% - 25px);
  left: -webkit-calc(50% - 25px);
  left: calc(50% - 25px);
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

/* line 83, ../sass/main.scss */
.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

/* line 92, ../sass/main.scss */
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00C7FF;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

/* line 106, ../sass/main.scss */
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
  transform: scale(1.1) rotateZ(90deg);
}

/* line 110, ../sass/main.scss */
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
  transform: scale(1.1) rotateZ(180deg);
}

/* line 114, ../sass/main.scss */
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
  transform: scale(1.1) rotateZ(270deg);
}

/* line 118, ../sass/main.scss */
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

/* line 122, ../sass/main.scss */
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

/* line 126, ../sass/main.scss */
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
/* line 163, ../sass/main.scss */
#nav-scroll.navbar-collapse.in {
  max-height: 270px;
}

/* line 167, ../sass/main.scss */
html {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  background-color: #000;
  background: repeating-linear-gradient(45deg, #111, #111 10px, #000 10px, #000 20px);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* line 184, ../sass/main.scss */
body {
  height: 100%;
  background-color: transparent;
}
/* line 187, ../sass/main.scss */
body.modal-shown {
  overflow: hidden;
}

/* line 191, ../sass/main.scss */
.navbar-nav {
  margin: 0 -15px;
}

/* line 194, ../sass/main.scss */
.modal {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  visibility: hidden;
  display: block;
}

/* line 201, ../sass/main.scss */
.thumb {
  cursor: pointer;
}

/* line 204, ../sass/main.scss */
main.thumbs {
  padding: 0;
  width: 90%;
}

/* line 208, ../sass/main.scss */
.navbar-toggle {
  padding: 0;
  margin: 10px 20px 10px 10px;
}

/* line 212, ../sass/main.scss */
.nav-i {
  color: #00C7FF;
  font-size: 25px;
}

/* line 216, ../sass/main.scss */
.full-size {
  width: auto;
  height: auto;
  margin: auto;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
}
/* line 219, ../sass/main.scss */
.full-size.full-width {
  width: -moz-calc(100% - 40px);
  width: -webkit-calc(100% - 40px);
  width: calc(100% - 40px);
}
/* line 222, ../sass/main.scss */
.full-size.full-height {
  height: -moz-calc(100% - 40px);
  height: -webkit-calc(100% - 40px);
  height: calc(100% - 40px);
}
/* line 228, ../sass/main.scss */
.full-size.loading {
  display: none;
}

/* line 240, ../sass/main.scss */
.descr {
  pointer-events: none;
  position: fixed;
  bottom: 0;
  right: 65px;
  width: -moz-calc(100% - 120px - 10px);
  width: -webkit-calc(100% - 120px - 10px);
  width: calc(100% - 120px - 10px);
  text-align: center;
}
/* line 248, ../sass/main.scss */
.descr > span {
  display: inline-block;
  background-color: #000;
  color: #00C7FF;
  padding: 5px;
  font-size: 16px;
  font-weight: 300;
  line-height: 16px;
  word-break: break-all;
}
/* line 258, ../sass/main.scss */
.descr.loading {
  display: none;
}

/* line 262, ../sass/main.scss */
.modal--controls {
  width: 100%;
  height: 100%;
}
/* line 265, ../sass/main.scss */
.modal--controls > div {
  box-sizing: border-box;
  position: absolute;
  margin: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.01);
}
/* line 271, ../sass/main.scss */
.modal--controls > div > div i {
  position: absolute;
  font-size: 30px;
  color: #000;
}

/* line 278, ../sass/main.scss */
.modal_top {
  top: 0;
  width: 100%;
  height: 30%;
}

/* line 283, ../sass/main.scss */
.modal_bl {
  bottom: 0;
  left: 0;
  width: 50%;
  height: 70%;
}

/* line 294, ../sass/main.scss */
.modal_br {
  bottom: 0;
  right: 0;
  width: 50%;
  height: 70%;
}

/* line 300, ../sass/main.scss */
.triangle-tr {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 60px 60px 0;
  border-color: transparent #00C7FF transparent transparent;
}
/* line 309, ../sass/main.scss */
.triangle-tr i {
  right: -53px;
  top: 2px;
}

/* line 317, ../sass/main.scss */
.triangle-br {
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 60px 60px;
  border-color: transparent transparent #00C7FF transparent;
}
/* line 326, ../sass/main.scss */
.triangle-br i {
  right: 5px;
  top: 26px;
}

/* line 334, ../sass/main.scss */
.triangle-bl {
  position: absolute;
  bottom: 5px;
  left: 5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 60px 0 0 60px;
  border-color: transparent transparent transparent #00C7FF;
}
/* line 343, ../sass/main.scss */
.triangle-bl i {
  left: -55px;
  bottom: 4px;
}

/* line 349, ../sass/main.scss */
.nav > li > a.nav-item {
  padding: 5px 10px;
  margin: 10px 1px;
  box-sizing: border-box;
  color: #00C7FF;
  text-transform: uppercase;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
/* line 357, ../sass/main.scss */
.nav > li > a.nav-item:hover, .nav > li > a.nav-item.selected {
  background-color: #00C7FF;
  color: #000;
}

@media (max-width: 767px) {
  /* line 366, ../sass/main.scss */
  .nav > li > a.nav-item {
    padding: 15px 10px;
    margin: 0;
  }
  /* line 371, ../sass/main.scss */
  .nav > li:not(:last-child) > a.nav-item {
    margin-bottom: 1px;
  }

  /* line 376, ../sass/main.scss */
  .navbar-nav {
    border-top: 4px solid #00C7FF;
  }
}
/* line 381, ../sass/main.scss */
.icon-bar {
  background-color: #00C7FF;
}

/* line 385, ../sass/main.scss */
.photo--descr {
  background-color: rgba(0, 0, 0, 0.8);
  color: #00C7FF;
  position: relative;
  font-weight: 100;
  font-size: 1.2em;
  padding: 4px 10px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* line 395, ../sass/main.scss */
.navbar-fixed-top {
  background-color: rgba(0, 0, 0, 0.9);
  border-bottom: 4px solid #00C7FF;
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
}

/* line 401, ../sass/main.scss */
.email {
  margin-left: 15px;
  display: inline-block;
  font-size: 25px;
  position: relative;
  top: 3px;
  cursor: pointer;
  color: #444;
}
/* line 409, ../sass/main.scss */
.email:hover {
  color: #00C7FF;
}

/* line 413, ../sass/main.scss */
.logo {
  margin: 5px 0 0 0;
  font-weight: 800;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -2px;
  display: inline-block;
}
/* line 420, ../sass/main.scss */
.logo span {
  vertical-align: middle;
}
/* line 423, ../sass/main.scss */
.logo span:first-child {
  color: #ccc;
}
/* line 426, ../sass/main.scss */
.logo span:last-child {
  color: #00C7FF;
}

@media (max-width: 767px) {
  /* line 432, ../sass/main.scss */
  .logo {
    margin-left: 10px;
  }
}
