/* line 11, ../sass/main.scss */
spinner {
  display: none;
}

/* line 16, ../sass/main.scss */
.dot-spinner {
  width: 60px;
  height: 60px;
  position: fixed;
  margin: auto;
  top: -moz-calc(50% - 30px);
  top: -webkit-calc(50% - 30px);
  top: calc(50% - 30px);
  right: -moz-calc(50% - 30px);
  right: -webkit-calc(50% - 30px);
  right: calc(50% - 30px);
  text-align: center;
  z-index: 1060;
  -webkit-animation: sk-rotate 1s infinite linear;
  animation: sk-rotate 1s infinite linear;
}

/* line 32, ../sass/main.scss */
.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #00C7FF;
  border: 2px solid #000;
  border-radius: 100%;
  -webkit-animation: sk-bounce 1s infinite ease-in-out;
  animation: sk-bounce 1s infinite ease-in-out;
}

/* line 47, ../sass/main.scss */
.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

@-webkit-keyframes sk-rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes sk-rotate {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}
@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
/* line 72, ../sass/main.scss */
.sk-folding-cube {
  margin: auto;
  width: 60px;
  height: 60px;
  z-index: 1060;
  position: fixed;
  margin: auto;
  top: -moz-calc(50% - 20px);
  top: -webkit-calc(50% - 20px);
  top: calc(50% - 20px);
  left: -moz-calc(50% - 25px);
  left: -webkit-calc(50% - 25px);
  left: calc(50% - 25px);
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

/* line 85, ../sass/main.scss */
.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

/* line 94, ../sass/main.scss */
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00C7FF;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

/* line 108, ../sass/main.scss */
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
  transform: scale(1.1) rotateZ(90deg);
}

/* line 112, ../sass/main.scss */
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
  transform: scale(1.1) rotateZ(180deg);
}

/* line 116, ../sass/main.scss */
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
  transform: scale(1.1) rotateZ(270deg);
}

/* line 120, ../sass/main.scss */
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

/* line 124, ../sass/main.scss */
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

/* line 128, ../sass/main.scss */
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
/* line 165, ../sass/main.scss */
#nav-scroll.navbar-collapse.in {
  max-height: 270px;
}

/* line 169, ../sass/main.scss */
html {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  background-color: #000;
  background: repeating-linear-gradient(45deg, #222, #222 10px, #111 10px, #111 20px);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* line 186, ../sass/main.scss */
body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  background-color: transparent;
}
/* line 190, ../sass/main.scss */
body.modal-shown {
  overflow: hidden;
}

/* line 194, ../sass/main.scss */
.navbar-nav {
  margin: 0 -15px;
}

/* line 197, ../sass/main.scss */
.modal {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  visibility: hidden;
  display: block;
}

/* line 204, ../sass/main.scss */
.thumb {
  cursor: pointer;
}

/* line 207, ../sass/main.scss */
main.thumbs {
  padding: 0;
  width: 90%;
}

/* line 211, ../sass/main.scss */
.navbar-toggle {
  padding: 0;
  margin: 10px 20px 10px 10px;
}

/* line 215, ../sass/main.scss */
.nav-i {
  color: #00C7FF;
  font-size: 25px;
}

/* line 219, ../sass/main.scss */
.full-size {
  width: auto;
  height: auto;
  margin: auto;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
}
/* line 222, ../sass/main.scss */
.full-size.full-width {
  width: -moz-calc(100% - 40px);
  width: -webkit-calc(100% - 40px);
  width: calc(100% - 40px);
}
/* line 225, ../sass/main.scss */
.full-size.full-height {
  height: -moz-calc(100% - 40px);
  height: -webkit-calc(100% - 40px);
  height: calc(100% - 40px);
}
/* line 231, ../sass/main.scss */
.full-size.loading {
  display: none;
}

/* line 243, ../sass/main.scss */
.descr {
  pointer-events: none;
  position: fixed;
  bottom: 0;
  right: 65px;
  width: -moz-calc(100% - 120px - 10px);
  width: -webkit-calc(100% - 120px - 10px);
  width: calc(100% - 120px - 10px);
  text-align: center;
}
/* line 251, ../sass/main.scss */
.descr > span {
  display: inline-block;
  background-color: #000;
  color: #00C7FF;
  padding: 5px;
  font-size: 16px;
  font-weight: 300;
  line-height: 16px;
  word-break: break-all;
}
/* line 261, ../sass/main.scss */
.descr.loading {
  display: none;
}

/* line 265, ../sass/main.scss */
.modal--controls {
  width: 100%;
  height: 100%;
}
/* line 268, ../sass/main.scss */
.modal--controls > div {
  box-sizing: border-box;
  position: absolute;
  margin: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.01);
}
/* line 274, ../sass/main.scss */
.modal--controls > div > div i {
  position: absolute;
  font-size: 30px;
  color: #000;
}

/* line 281, ../sass/main.scss */
.modal_top {
  top: 0;
  width: 100%;
  height: 30%;
}

/* line 286, ../sass/main.scss */
.modal_bl {
  bottom: 0;
  left: 0;
  width: 50%;
  height: 70%;
}

/* line 297, ../sass/main.scss */
.modal_br {
  bottom: 0;
  right: 0;
  width: 50%;
  height: 70%;
}

/* line 303, ../sass/main.scss */
.triangle-tr {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 60px 60px 0;
  border-color: transparent #00C7FF transparent transparent;
}
/* line 312, ../sass/main.scss */
.triangle-tr i {
  right: -53px;
  top: 2px;
}

/* line 320, ../sass/main.scss */
.triangle-br {
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 60px 60px;
  border-color: transparent transparent #00C7FF transparent;
}
/* line 329, ../sass/main.scss */
.triangle-br i {
  right: 5px;
  top: 26px;
}

/* line 337, ../sass/main.scss */
.triangle-bl {
  position: absolute;
  bottom: 5px;
  left: 5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 60px 0 0 60px;
  border-color: transparent transparent transparent #00C7FF;
}
/* line 346, ../sass/main.scss */
.triangle-bl i {
  left: -55px;
  bottom: 4px;
}

/* line 352, ../sass/main.scss */
.nav > li > a.nav-item {
  padding: 5px 0px 0px 0px;
  margin: 10px 13px;
  background: transparent;
  box-sizing: border-box;
  color: #00C7FF;
  text-transform: uppercase;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  border-bottom: 1px solid transparent;
  transition: 0.35s border ease;
}
/* line 362, ../sass/main.scss */
.nav > li > a.nav-item:hover, .nav > li > a.nav-item.selected {
  border-bottom: 1px solid #00C7FF;
}

/* line 369, ../sass/main.scss */
.navbar-header {
  padding-top: 3px;
  padding-bottom: 5px;
}

/* line 373, ../sass/main.scss */
.navbar-toggle {
  margin-bottom: 0px;
}

/* line 377, ../sass/main.scss */
.nav-shell ul.navbar-nav, .nav-shell .navbar-header {
  transition: margin 0.35s ease;
  margin-top: 35px;
  margin-bottom: 45px;
}
/* line 383, ../sass/main.scss */
.nav-shell.shrunk ul.navbar-nav, .nav-shell.shrunk .navbar-header {
  margin-top: 0px;
  margin-bottom: 5px;
}

/* line 391, ../sass/main.scss */
#nav-scroll.in ul.navbar-nav, #nav-scroll.collapsing ul.navbar-nav {
  margin-top: 0px;
  margin-bottom: 0px;
}

/* line 404, ../sass/main.scss */
.logo {
  margin: 5px 0 0 0;
  font-weight: 800;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -2px;
  display: inline-block;
}
/* line 411, ../sass/main.scss */
.logo span {
  vertical-align: middle;
}
/* line 414, ../sass/main.scss */
.logo span:first-child {
  color: #ccc;
}
/* line 417, ../sass/main.scss */
.logo span:last-child {
  color: #00C7FF;
}

/* line 421, ../sass/main.scss */
.container > .navbar-header {
  margin-right: 0;
  margin-left: 0;
}

@media (max-width: 767px) {
  /* line 431, ../sass/main.scss */
  .logo {
    margin-left: 10px;
  }

  /* line 435, ../sass/main.scss */
  .nav > li > a.nav-item {
    padding: 15px 10px;
    margin: 0;
    transition: background-color 0.35s ease;
  }
  /* line 439, ../sass/main.scss */
  .nav > li > a.nav-item:hover, .nav > li > a.nav-item.selected {
    background-color: #00C7FF;
    color: #000;
    border-color: transparent;
  }
  /* line 447, ../sass/main.scss */
  .nav > li:not(:last-child) > a.nav-item {
    margin-bottom: 1px;
  }

  /* line 452, ../sass/main.scss */
  .navbar-nav {
    border-top: 1px solid #00C7FF;
  }
}
/* line 457, ../sass/main.scss */
.icon-bar {
  background-color: #00C7FF;
}

/* line 461, ../sass/main.scss */
.photo--descr {
  background-color: rgba(0, 0, 0, 0.8);
  color: #00C7FF;
  position: relative;
  font-weight: 100;
  font-size: 1.2em;
  padding: 4px 10px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* line 471, ../sass/main.scss */
.navbar-fixed-top {
  background-color: rgba(0, 0, 0, 0.8);
  border-bottom: 1px solid #00C7FF;
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
}

/* line 477, ../sass/main.scss */
.email {
  margin-left: 15px;
  display: inline-block;
  font-size: 25px;
  position: relative;
  top: 3px;
  cursor: pointer;
  color: #777;
}
/* line 485, ../sass/main.scss */
.email:hover {
  color: #00C7FF;
}
